html{
    background-color: white;   
}

@media (min-width:924px) and (max-width: 1023px)  {
   body{
    width:95%;
    height: auto;
    background-color: white;
    margin: auto;
}
a{
    color:#f39c11;
    text-decoration: underline;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 20px;
}
a:hover{
    color: blue;
}

.content{
    height: 2850px;
    width: 100%;
    background-color: #fdfcf4;
    margin: auto;
    -webkit-box-shadow: 0 17px 37px 6px rgba(237,234,220,.5);
    -moz-box-shadow: 0 17px 37px 6px rgba(237,234,220,.5);
    box-shadow: 0 17px 37px 6px rgba(237,234,220,.5);
}

header{
    width: 980px;
    height: 230px;
}

.header_left{
    width: 100%;
    height: 200px;
    font-family: Britannic Bold,sans-serif;
    margin-left: 10px;
    float: left;

}
.english-name{
    width: auto;
    float: left;
    position: relative;
    top:  15px;
}
.english-name p{
    color: gray;
    font-size: 80px;
    margin-left: 40px;
    width: auto;
}
.scan_me{
    position: relative;
    width:auto;
    height: 120px;
    float: left;
    top: 20px;
}

.qrcode{
    width: 90px;
    height: 90px;
    position: relative;
    left: 20px;
    float: left;
}
.scan_me p{
    float: left;
    color: darkgray;
    position: relative;
    top: 50px;
    left: 50px;
}

.header_right{
    width: 35%;
    height: 230px;
    position: relative;
    left: 0px;
    right: 30px;
    top: 10px;
    float: left;
}

.contact{
    width: 140px;
    height: 30px;
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 50px;
    color: gray;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 25px;
}
.contact_title_hr{
    width: 90%;
    border-top:1px;
    border-style:dashed;
    border-color:  gray;
    margin-left: 50px;
}
    
.header_right hr{
    color: gray;
    width: 90%;
    margin-top: 20px;
}

.contact_content{
    position: relative;
    width: 100%;
    height: 120px;
    float: left;
    font-family:Geometr706 BlkCn BT,sans-serif;
}

.contact_item{
    width: 100%;
    float: left;
    margin-left: 60px;
    font-size: 15px;
}
.info-container p.contact_item_content{
    position: relative;
    width: auto;
    height: 40px;
    float: left;
    left: 10px;
    top: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact_icon{
    float: left;
    width: 30px;
    height: 30px;
}
.contact_hr{
    height:1px;
    border:none;
    border-top:1px dashed #dddddd;
    margin-left: 50px;
}

.info-container{
    float: left;
    display: inline-block;
}

.middle{
    width: 100%;
    height: 230px;
}

.middle_left{
    width: 60%;
    height: auto;
    float: left;
}
.personal_information{
    width: 80%;
    height: 30px;
    margin-left: 50px;
    font-family:Geometr706 BlkCn BT,sans-serif;
    font-size: 20px;
    color: gray;
}
.personal_information_content{
    position: relative;
    width: 80%;
    height: 20px;
    float: left;
    top: 15px;
    left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.person_icon{
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.middle hr{
    width: 85%;
    border-top:1px;
    border-style:dashed;
    border-color:  gray;
    margin-left: 50px;
}
.personal_content{
    font-family:Geometr706 BlkCn BT,sans-serif;
    font-size: 20px;
    color: black;
    position: relative;
    left: 12px;
    top:5px;
    line-height: 1.5;
}
.personal_content td{
    vertical-align: top;
}
.middle_right{
    width: 100%;
    float: left;
}
.skill_image{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.skill_image img{
    margin-left: 40px;
}
.job_objective{
    width: 90%;
    height: 170px;
    float: left;
}
.job_objective hr{
    width: 100%;
    margin-left: 50px;
    border-top:1px;
    border-style:dashed;
    border-color: gray;
}
.job_objective_content{
/*
    width: 200px;
    height: 30px;
*/
    margin-left: 30px;
    font-family:Geometr706 BlkCn BT,sans-serif;
    color: black;
    line-height: 2;
}
.my_experience{
    width: auto;
    height: 600px;
    float: left;
}
.my_experience hr{
    width: 90%;
    border-top:1px;
    border-style:dashed;
    border-color: gray;
    margin-left: 50px;
}
.experience_area{
    width: 90%;
    height: 172px;
    position: relative;
    left: 50px;
    top: 20px;
    border-bottom: 1px;
    float: left;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 20px;
    color: gray;
    text-align: center;
}

.BA_title{
    width: 100%;
    height: 40px;
    float: left;
    background-color: #ffe879;
    text-align: center;
    border-right: 4px solid #ffe879;
}
.BA_content{
    width: 100%;;
    height: 130px;
    float: left;
    border-left: 2px;
    border-bottom: 2px;
    border-top: 0px;
    border-right: 2px;
    border-style: solid;
    border-color: #ffe879;
    background-color: white;
}
.BA_content p{
    margin-top: 30px;
}
.PM_title{
    width: 100%;
    height: 40px;
    float: left;
    background-color: #fdcb40;
    text-align: center;
    border-right: 4px solid #fdcb40;
}
.PM_content{
    width: 100%;
    height: 130px;
    float: left;
    border-left: 2px;
    border-bottom: 2px;
    border-top: 0px;
    border-right: 2px;
    border-style: solid;
    border-color: #fdcb40;
    background-color: white;
}
.content_detail{
    width: auto;
    height: 100px;
    margin-top: 30px;
}
.content_detail p{
    position: relative;
    top: 0px;
    margin-top: 0px
}
.office_principal_title{
    width: 100%;
    height: 40px;
    float: left;
    background-color: #fed667;
    text-align: center;
    border-right: 4px solid #fed667;
}
.office_principal_content{
    width: 100%;
    height: 130px;
    float: left;
    border-left: 2px;
    border-bottom: 2px;
    border-top: 0px;
    border-right: 2px;
    border-style: solid;
    border-color: #fed667;
    background-color: white;
}
.title_content{
    width: 100%;
    height: 30px;
    font-family: Geometr706 BlkCn BT,sans-serif;
    color: gray;
    margin-top: 11px;
}

.about_me{
    width: 90%;
    height: 260px;
    float: left;
}
.about_me hr{
    width: 100%;
    margin-left: 50px;
    border-top:1px;
    border-style: dashed;
    border-color: gray;
}
.about_me_content{
    width: 100%;
    height: 200px;
    position: relative;
    top: 10px;
    margin-left: 40px;
    margin-top: 20px;
    line-height: 1.5;
    font-size: 20px;
}
.about_me_content p{
    font-family: Geometr706 BlkCn BT,sans-serif;
    color: black;
    position: relative;
    float: left;
    left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.project_experience{
    width: 100%;
    height: 720px;
    float: left;
    color: gray;
}
.project_experience hr{
    width: 90%;
    margin-left: 50px;
    border-top:1px;
    border-style:dashed;
    border-color: gray;
}
.line_content_top{
    width: 40%;
    height: 600px;
    position: relative;
    float: right;
    left: 22px;
    top: 3px;
}
.line_content_top a{
    font-size: 15px;
}
.protable_task{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}
.short_flag{
    width: 29px;
    height: 20px;
    background-image: url(/images/short_circle_right.png);
    position: relative;
    top: 10px;
    float: left;
}
.line_content{
    position: relative;
    top: 10px;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    left: 10px;
    float: left;
}
.party_bid{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}
.line_content_high{
    position: relative;
    bottom: 10px;
    left: 90px;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.flag{
    width: 80px;
    height: 20px;
    background-image: url(/images/circle_right.png);
    position: relative;
    top: 10px;
}
.line_content_bottom{
    width: 35%;
    height: 600px;
    position: relative;
    float: left;
    bottom: 585px;
    left: 24px;
}
.sunshine_english{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}
.we_record{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}
.code_for_dream{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
    top: 50px;
}
.finger_bang{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
    top: 50px;
}
.simple_rss{
    width: 100%;
    height: 100px;
    position: relative;
    float: left;
}
.flag_down{
    position: relative;
    float: left;
}
.line_content_down{
    position: relative;
    top: 60px;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.flag_down_short{
    width: 29px;
    height: 20px;
    background-image: url(/images/short_circle_left.png);
    position: relative;
    float: right;
}
.travel_helper{
    width: 76%;
    height: 100px;
    position: relative;
    float: right;
}
.line_content_down_short{
    position: relative;
    font-family: Geometr706 BlkCn BT,sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
    right: 10px;
}
.line_content_down_short a{
    font-size: 15px;
}
.smart_client{
    width: 100%;
    height: 100px;
    position: relative;
/*    margin-left: 40px;*/
    float: left;
}
.time_line{
    width: 25%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 22px;
}
.first{
    width: 100%;
    height: 50px;
    background-color: #fce122;
    margin: 0 auto;
/*
    float: left;
*/
}
.second{
    width: 100%;
    height: 50px;
    background-color: #fcdb20;
    margin: 0 auto;
}
.third{
    width: 100%;
    height: 50px;
    background-color: #fdd31d;
    margin: 0 auto;
}
.fourth{
    width: 100%;
    height: 50px;
    background-color: #fdca1b;
    margin: 0 auto;
}
.fifth{
    width: 100%;
    height: 50px;
    background-color: #fdbf16;
    margin: 0 auto;
}

.sixth{
    width: 100%;
    height: 50px;
    background-color: #fdb413;
    margin: 0 auto;
}
.seventh{
    width: 100%;
    height: 50px;
    background: #fea70f;
    margin: 0 auto;
}
.eighth{
    width: 100%;
    height: 50px;
    background-color: #fe9c0c;
    margin: 0 auto;
}
.nineth{
    width: 100%;
    height: 50px;
    background-color: #fe9108;
    margin: 0 auto;
}
.tenth{
    width: 100%;
    height: 50px;
    background-color: #ff8705;
    margin: 0 auto;
}
.eleventh{
    width: 100%;
    height: 50px;
    background-color: #ff7e02;
    margin: 0 auto;
}
.twelfth{
    width: 100%;
    height: 50px;
    background-color: #ff7900;
    margin: 0 auto;
}
.future{
    width: 100%;
    height: 50px;
    background-color: #ff7000;
    margin: 0 auto;
}

.my_rewards{
    width: 90%;
    height: auto;
    float: left;
}
.my_rewards hr{
    width: 100%;
    margin-left: 50px;
    border-top:1px;
    border-style:dashed;
    border-color: gray;
}

}


